
<td></td>
<td><%= player.escape("fname") + " " + player.escape("lname") %></td>
<td><%= player.escape("position") %></td>
<td><%= player.escape("team_name") %></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>
  <% if ( player.isContracted() ) { %>
    <a href="#/leagues/<%= league.id %>/teams/<%= player.contract().escape("contract_owner_id") %>">
      <%= player.contract().escape("contract_owner_username") %>
    </a>
  <% } %>
</td>
<td></td>
<td>
  <% if ( player.isContracted() && player.contract().escape('user_player') ) { %>
    <button type="button" class="drop-button" name="button">
      Drop Player
    </button>
  <% } else if ( player.isContracted() ) { %>
    <button type="button" class="trade-button" name="button">
      Trade
    </button>
  <% } else { %>
    <button type="button" class="add-button" name="button">
      Add Player
    </button>
  <% } %>
</td>
