<nav class="navbar navbar-default splash">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        NOKICKER
      </div>
    </div>
    <div class="navbar-right">
      <a href="<%= new_user_url %>" class="btn btn-success navbar-btn">Play Without Kickers</a>
      <a href="<%= new_session_url %>" class="btn btn-default navbar-btn">Log In</a>
    </div>
  </div>
</nav>

<div class="jumbotron" id="splash-big-jumbo">
  <div class="container">
    <div class="jumbotron splash-jumbo">
      <form class="form-inline" action="<%= users_url %>" method="post">
        <%= auth_token %>
        <div class="panel panel-default">
      <h1 class="splash">Kicker Free Fantasy Football</h1>
      <h3 class="text-muted">Who really needs kickers anyway?</h3>
          <div class="panel-body">
            <% unless flash["errors"].empty? %>
            <ul class="alert alert-danger">
              <%= flash["errors"].map { |e| "<li class='error-item'>#{e}</li>"}.join.html_safe %>
            </ul>
            <% end %>
            <div class="form-group">
              <input type="text" name="user[email]" id="email" placeholder="E-mail" class="form-control input-lg">
              <input type="password" name="user[password]" id="password" placeholder="Password" class="form-control input-lg">
              <input type="text" name="user[username]" id="username" placeholder="Username" class="form-control input-lg">
            </div>
            <div class="panel-footer">
              <input type="submit" class="btn btn-success btn-lg" value="Start Playing">
              <%= link_to "Members Log In", new_session_url %>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
