<td><%= player.escape("fname") + ". " + player.escape("lname") %></td>
<td><%= player.escape("position") %></td>
<td><%= player.escape("team_name") %></td>
<td>Bye</td>

<td>
  <% if (player.get("info")) { %>
    <%= player.get("info").next_opp %>
  <% } else { %>
    ---
  <% } %>
</td>

<td>Draft</td>
<td>Pos</td>

<td>
  <% if ( player.escape("position") === "RB" ) { %>
    <%= stats.rushing_yds %>yds <%= stats.rushing_tds %>tds
  <% } else if (["TE", "WR"].indexOf(player.escape("position")) !== -1 ) { %>
    <%= stats.receiving_yds %>yds <%= stats.receiving_tds %>tds
  <% } else if (player.escape("position") === "QB") { %>
    <%= stats.passing_yds %>yds <%= stats.passing_tds %>tds
  <% } else { %>
    ---
  <% } %>
</td>

<td>Total</td>

<td>Average</td>

<td>
  <div class="dropdown roster-dropdown">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="glyphicon glyphicon-cog"></span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Cut</a></li>
      <li><a href="#">Trade</a></li>
    </ul>
  </div>
  <% if (team.escape("belongs_to_user") && !!player.escape("lname")) { %>
    <select class="roster-change-select" data-roster-slot-id="<%= roster_slot.id %>" name="">
      <option value="<%= roster_slot.escape("position") %>">
        <%= roster_slot.escape("position") %>
      </option>
      <% if (roster_slot.escape("position") !== "bench") { %>
        <option value="bench">
          bench
        </option>
      <% } %>
    </select>
  <% } else if ( roster_slot.escape("position") === "bench" ) { %>
    <div class="roster-position-indicator">
      <%= roster_slot.escape("position") %>
    </div>
  <% } else { %>
    <div class="roster-position-indicator starting-slot">
      <%= roster_slot.escape("position") %>
    </div>
  <% } %>
</td>
