<td><%= player.escape("fname") + ". " + player.escape("lname") %></td>
<td><%= player.escape("position") %></td>
<td><%= player.escape("team_name") %></td>
<td>Bye</td>

<td>Week 1</td>

<td>Draft</td>
<td>Pos</td>

<td>Summary</td>

<td>Total</td>

<td>Average</td>

<td>
  <!-- <div class="dropdown roster-dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="glyphicon glyphicon-cog"></span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Cut</a></li>
      <li><a href="#">Trade</a></li>
    </ul>
  </div> -->
  <select class="action-selection" data-roster-slot-id="<%= roster_slot.id %>" name="">
    <option value="<%= roster_slot.escape("position") %>">
      <%= roster_slot.escape("position") %>
    </option>
    <% if (roster_slot.escape("position") !== "bench") { %>
      <option value="bench">
        bench
      </option>
    <% } %>
  </select>
</td>
