<li class=""><a href="#/leagues/<%= league.id %>/teams/<%= league.user_team().id %>">
  Team
</a></li>
<li class=""><a href="#/leagues/<%= league.id %>/players">
  Players
</a></li>
<li class=""><a href="#/leagues/<%= league.id %>">
  League
</a></li>
<li class=""><a href="#">
  Trades
</a></li>
<li class=""><a href="#/leagues/<%= league.id %>/messages">
  Messages
</a></li>
