<!DOCTYPE html>
<html>
<head>
  <title>NoKicker</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Exo+2' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default splash">
  <div class="navbar-header">
    <div class="navbar-brand">
      NOKICKER
    </div>
  </div>
  <div class="navbar-right">
    <a href="#" class="btn btn-success">Play Without Kickers</a>
    <a href="#" class="btn btn-default">Log In</a>
  </div>
</nav>

<%= yield %>

</body>
</html>
